body {
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    color: #fff;
    width: 100%;
    margin: 60px auto;
    font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
    font-weight: bold;
    border: 1px solid blueviolet;
    padding: 20px;
    border-radius: 4px;
    color: blue;
}

h2 {
    text-align: center;
    color: brown;
}

p {
    line-height: 1.5;
    font-size: 24px;
}

img {
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    width: 50%;
}

button {
    background: rgba(0, 0, 0, 0.87);
    border: none;
    font-size: 42px;
    border-radius: 4px;
    text-transform: uppercase;
    color: brown;
    display: block;
    padding: 10px 20px;
    transition: opacity 150ms ease;
    cursor: pointer;
    opacity: 1;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.5);
    margin: 30px auto;
}

button:hover {
    opacity: 0.9;
}

a {
    color: #fff;
}